---
import "../styles/global.css";
import "../styles/summary.css";
import DocumentSummaryUI from "../components/DocumentSummaryUI.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Resumen Inteligente de Documentos</title>
  </head>

  <body data-theme="dark">
    <DocumentSummaryUI />
    <script src="/scripts/upload.js" defer></script>
	
  </body>
</html>
